boto3==1.17.35
botocore==1.20.35
certifi==2020.12.5
chardet==4.0.0
configobj==5.0.6
docutils==0.16
dpath==2.0.1
idna==2.10
jmespath==0.10.0
parse-it==3.5.0
ply==3.11
pyhcl==0.4.4
python-dateutil==2.8.1
python-dotenv==0.15.0
PyYAML==5.4.1
requests==2.25.1
s3transfer==0.3.6
six==1.15.0
toml==0.10.2
urllib3==1.26.4
xmltodict==0.12.0
